# QUESTION 1

In [3]:
# Question 1:Consider the following Python module:
    
a = 0   # A has a global scope
def b():
    global a # all references to a in b() are to the global a
    a = c(a) # Global a is changed
def c(a):
    return a + 2 # this a is the global a

b()
b()
b()
a

6

The value displayed is 6, a is a global variable, method b refers the global variable a and then passes it on to method c where 2 is added the value of a everytime the method is called.

# QUESTION 2

In [18]:
def file_lenght(file_name):
    
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:#prints file not found
        print("File "+ file_name+ "not found")

file_length("idterm.py")

File idterm.pynot found

# QUESTION 3

In [19]:
class Marsupial():
    def __init__(self):
        self.pouche = []
    def put_in_pouch(self,thing):
        self.pouche.append(thing) #add Thing to the Pouche
    def pouch_contents(self): #List out Pouche Contents
        print(self.pouche)
        
m = Marsupial()  
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [29]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__() #It will Inherit the constructor of Marsupial
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)
    def __repr__(self):
        return 'Kangaroo({}, {})'.format(self.x, self.y)
    
k = Kangaroo(0,0)
print(k)
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
I am a Kangaroo located at coordinates (3, 0)

# QUESTION 4

In [32]:
def collatz(x):
    print(x)
    while x != 1:
        if x % 2 == 1:
            x = 3 * x + 1
        else:
            x = x / 2
        print(int(x))  
    
print("collatz of 1: ")
collatz(1)
print("collatz of 10: ")
collatz(10)

collatz of 1:
1
collatz of 10:
10
5
16
8
4
2
1

# QUESTION 5

In [36]:
# Question 5: Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

def binary(n):
    if n == 0:
        return 0 
    else:
        return (n % 2 + 10 * binary(int(n // 2))) #Print out the binary numbers of Integer n

binary(0)

0

In [37]:
binary(1)

1

In [38]:
binary(3)

11

In [39]:
binary(9)

1001

# QUESTION 6

# QUESTION 7

# QUESTION 8

In [40]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.17-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
     - -------------------------------------- 0.1/2.0 MB 1.6 MB/s eta 0:00:02
     --- ------------------------------------ 0.2/2.0 MB 2.4 MB/s eta 0:00:01
     ----- ---------------------------------- 0.3/2.0 MB 2.5 MB/s eta 0:00:01
     -------- ------------------------------- 0.4/2.0 MB 3.0 MB/s eta 0:00:01
     --------- ------------------------------ 0.5/2.0 MB 2.9 MB/s eta 0:00:01
     ------------ --------------------------- 0.6/2.0 MB 2.8 MB/s eta 0:00:01
     -------------- ------------------------- 0.7/2.0 MB 2.8 MB/s eta 0:00:01
     ----------------- ---------------------- 0.8/2.0 MB 2.8 MB/s eta 0:00:01
     ------------------- -------------------- 1.0/2.0 MB 3.0 MB/s eta 0:00:01
     ---------------------- ----------------- 1.1/2.0 MB 3.1 MB/s eta 0:00:01
     ------------------------ --------------- 1.2/2.0 MB 3.0 MB/s eta 0:00:01
     ------------------------ --------------- 1.2/2.0 MB 2.9 MB/s eta 0:00:01
     ---------------------------- ----------- 1.4/2.0 MB 3.0 MB/s eta 0:00:01
     ------------------------------- -------- 1.6/2.0 MB 3.0 MB/s eta 0:00:01
     --------------------------------- ------ 1.7/2.0 MB 3.1 MB/s eta 0:00:01
     ------------------------------------- -- 1.9/2.0 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.0 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 3.1 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\ememu\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: six in c:\users\ememu\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ememu\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ememu\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ememu\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: matplotlib-inline in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\ememu\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\users\ememu\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ememu\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\ememu\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ememu\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\ememu\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.17 sqlparse-0.4.4

In [57]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [44]:
%sql sqlite://

In [45]:
%%sql

DROP TABLE IF EXISTS Climate_data;

CREATE TABLE IF NOT EXISTS Climate_data(City text, Country text, Season text, Temperature float, Rainfall float);

 * sqlite://
Done.
Done.

[]

In [48]:
%%sql

INSERT INTO Climate_data VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9),
('Mumbai', 'India', 'Spring', 28.4, 16.2),
('Mumbai', 'India', 'Summer', 27.9, 1549.4),
('Mumbai', 'India', 'Fall', 27.6, 346.0),
('London', 'United Kingdom', 'Winter', 4.2, 207.7),
('London', 'United Kingdom', 'Spring', 8.3, 169.6),
('London', 'United Kingdom', 'Summer', 15.7, 157.0),
('London', 'United Kingdom', 'Fall', 10.4, 218.5),
('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

 * sqlite://
12 rows affected.

[]

In [49]:
#8a.

%%sql

SELECT Temperature from Climate_data;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [50]:
#8b.

%%sql

SELECT DISTINCT City from Climate_data;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [51]:
#8c.

%%sql

SELECT * from Climate_data
WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [52]:
#8d.

%%sql

SELECT * from Climate_data
WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [53]:
#8e.

%%sql

SELECT City, Country, Season from Climate_data
WHERE Rainfall >= 200 AND Rainfall <=400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [54]:
#8f.

%%sql

SELECT City, Country from Climate_data
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [55]:
#8g.

%%sql

SELECT SUM(Rainfall) AS Rainfall_Total from Climate_data
WHERE City = 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [56]:
#8h.

%%sql

SELECT Season, SUM(Rainfall) AS Rainfall from Climate_data
GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# QUESTION 9

In [58]:
#9a.

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a = []
for word in words:
    a.append(word.upper())
    
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [61]:
#9b.

a = []
for word in words:
    a.append(word.lower())
    
print(a)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [62]:
#9c.

a = []
for word in words:
    a.append(len(word))
    
print(a)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [63]:
#9d.

a = []
for word in words:
    inner_list = []
    inner_list.append(word.upper())
    inner_list.append(word.lower())
    inner_list.append(len(word))
    a.append(inner_list)
    
print(a)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [64]:
#9e.

a = []
for word in words:
    if len(word) >= 4:
        a.append(word)
        
print(a)

['quick', 'brown', 'jumps', 'over', 'lazy']